.card {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    position: relative;
    
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px; 
    max-width: 320px;
}


.card img {
    width: 120px;
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.card-content {
    flex-grow: 1; 
}


.card-content h2 {
    margin-top: 0;
}


.filmes {
    display: flex;             
    justify-content: center;  
    gap: 20px;                 
    flex-wrap: wrap;          
}

.card-content button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-content button:hover {
    background-color: #0056b3;
}

.card-content button:focus {
   
    background-color: #000cb3;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    outline: none;
}

.cartaz{
    position: absolute;
    top: 10px; 
    right: 40%;
}